@font-face {
  font-family: "Proxima Nova";
  src: url("./fonts/ProximaNova-Regular.woff2") format("woff2"),
    url("./fonts/ProximaNova-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Proxima Nova SemiBold";
  src: url("./fonts/ProximaNova-SemiBold.woff") format("woff");
  font-weight: bold;
}

@font-face {
  font-family: "Proxima Nova Bold";
  src: url("./fonts/ProximaNova-ExtraBold.woff") format("woff");
  font-weight: bolder;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Proxima Nova Semibold", serif;
}

body {
  font-family: Arial, sans-serif;
  text-align: center;
  overflow: hidden;
}

header {
  background-color: #ffe600;
  width: 100%;
  height: 5rem;
  display: flex;
  align-items: center;
}

header img {
  height: 60%;
  margin-left: 5rem;
}

.container {
  width: 100%;
  height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.container img {
  width: 40%;
}

.container p {
  font-size: 1.5rem;
  max-width: 70%;
}
