@font-face {
  font-family: "Proxima Nova";
  src: url("./fonts/ProximaNova-Regular.woff2") format("woff2"),
    url("./fonts/ProximaNova-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Proxima Nova SemiBold";
  src: url("./fonts/ProximaNova-SemiBold.woff") format("woff");
  font-weight: bold;
}

@font-face {
  font-family: "Proxima Nova Bold";
  src: url("./fonts/ProximaNova-ExtraBold.woff") format("woff");
  font-weight: bolder;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Proxima Nova", serif;
}

body {
  background-color: #ebebeb;
  display: flex;
  max-height: 100vh;
  overflow: hidden;
}

a {
  text-decoration: none;
  color: black;
}

.modal {
  background-color: #fff;
  position: absolute;
  right: 10px;
  top: -50px;
  padding: 5px;
  width: 300px;
  height: 40px;
  border-radius: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  transition: 0.5s ease;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2);
}

.modal.active {
  top: 10px;
}

/* Modal de Aviso */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.3s ease;
}

.modal-overlay.active {
  visibility: visible;
  opacity: 1;
}

.modal-content {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  width: 80%;
  max-width: 500px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.modal-content h2 {
  margin-top: 0;
  margin-bottom: 15px;
  font-size: 1.5em;
  background-color: #ffed06;
  padding: 0.5rem;
  border-radius: 6px;
}

.modal-content p {
  margin-bottom: 20px;
}

.modal-content button {
  background-color: #ffed06;
  color: black;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1em;
  transition: background-color 0.3s ease;
}

.modal-content button:hover {
  background-color: #ebebeb;
}

/* Modal de Login e Cadastro */
.modal-sign {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.3s ease;
}

.modal-sign.active {
  visibility: visible;
  opacity: 1;
}

.modal-sign .sign-content {
  background-color: #fff;
  border-radius: 6px;
  width: 25%;
  height: 38vh;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.modal-sign .sign-content h2 {
  width: 100%;
  background-color: #ffed06;
  font-size: 1.2em;
  padding: 0.5rem;
  border-radius: 6px;
}

.modal-sign .sign-content form {
  height: 70%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.modal-sign .sign-content form input {
  width: 100%;
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 1rem;
  outline: none;
  background-color: #f1f1f1;
}

.modal-sign .sign-content input:focus {
  border: 1px solid #3483fa;
}

.modal-sign .sign-content button,
.left_side .header button {
  background-color: #3483fa;
  color: #fff;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 6px;
  cursor: pointer;
  font-size: 1rem;
  font-weight: 500;
  transition: 0.3s ease;
}

.modal-sign .sign-content button:hover,
.left_side .header button:hover {
  background-color: #2968c8;
}

/* Lado Esquerdo */
.left_side {
  background-color: #ffed06;
  height: 100vh;
  width: 40vw;
  padding: 5rem;
  display: flex;
  gap: 4.5rem;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.2);
  font-size: 1rem;
}

.left_side .header {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.left_side .header img {
  width: 150px;
}

.left_side .container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.left_side .container h1 {
  font-size: 1.5rem;
  font-family: "Proxima Nova Bold", serif;
}

.left_side .container div .label {
  font-family: "Proxima Nova SemiBold", serif;
  font-size: 1.2rem;
}

.left_side .container .original_url_group,
.left_side .container .shorten_url_group {
  height: 20%;
  display: flex;
  gap: 0.5rem;
  flex-direction: column;
}

.left_side .container .original_url_group input,
.left_side .container .shorten_url_group .shorten_url {
  padding: 1rem;
  outline: none;
  border: none;
  background-color: #fff;
  flex: 1;
  border-radius: 6px;
  font-size: 1rem;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2);
}

.left_side .container .shorten_url_group .shorten_url {
  background-color: #fff89e;
  min-height: 52px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.667rem;
}

.left_side .container .shorten_url_group .shorten_url .copy {
  background-color: #fffde8;
  border-radius: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  width: 30px;
  cursor: pointer;
  transition: 0.15s ease;
}

.left_side .container .shorten_url_group .shorten_url .copy img {
  height: 50%;
}

.left_side .container .shorten_url_group .shorten_url .copy:hover {
  background-color: #ebebeb;
}

/* Lado Direito */
.right_side {
  width: 60vw;
  height: 100vh;
  padding: 5rem;
  display: flex;
  gap: 1.5rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.right_side .cards_title,
.right_side #cards .card {
  width: 100%;
  display: flex;
  gap: .5rem;
}

.right_side .cards_title .links {
  flex: 1;
}

.right_side .cards_title .clicks {
  min-width: 100px;
  text-align: center;
}

.right_side .cards_title p {
  background-color: #ffed06;
  padding: 1rem 2rem;
  border-radius: 6px;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2);
  font-family: "Proxima Nova SemiBold", serif;
}

.right_side #cards {
  width: 100%;
  height: 0;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  flex: 1;
  overflow-y: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.right_side #cards::-webkit-scrollbar {
  display: none;
}

.right_side #cards .card .card_link {
  background-color: #fff;
  padding: 0.5rem 2rem;
  border-radius: 6px;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2);
  flex: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.right_side #cards .card .clicks {
  min-width: 117.45px;
  background-color: #fff;
  padding: 1rem 2rem;
  border-radius: 6px;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2);
  font-family: "Proxima Nova", serif;
  display: flex;
  justify-content: center;
  align-items: center;
}

.right_side #cards .card .card_link .copy {
  background-color: #fffde8;
  border-radius: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  width: 30px;
  cursor: pointer;
  transition: 0.15s ease;
}

.right_side #cards .card .card_link .copy img {
  height: 50%;
}

.right_side #cards .card .card_link .copy:hover {
  background-color: #ebebeb;
}
